

.carousel-caption{
   bottom: 550px;
  }
.carousel-caption h5{
    font-size: 1000px;
    text-decoration: uppercase;
    letter-spacing: 2px;
    margin-top: 2px;
    font-family: merienda;
}
@media (max-width: 480px) {
    .carousel-caption {
      bottom:45px;
    }
    .carousel-caption h5{
      font-size: 45px;
    }
  }
.social-icon{
  margin-top: 2rem;
}
.git-hub-icon{
  margin-left: 1rem;
}
.linkedln-icon{
  margin-left: 1rem;
}
.what-app-icon{
  margin-left: 1rem; 
}